<div class="card" style="background-color: rgb(238, 229, 229); ">
  <div class="card-header" style="background-color: rgb(33, 32, 32); color: rgb(252, 252, 252);">
    <h1 class="text-center ">{{title}}</h1>
  </div>
  <div class="card-body">
    <div class="card mx-auto" style="width: 66%; background-color: rgb(255, 255, 255);">
      <h1 class="card-title mx-auto my-2">{{name}}</h1>
      <img [src]="imgUrl" class="card-img-top mx-auto my-2" style="width: 50%; height: 25%; " alt="...">
      <div class="card-body">
        <div class="Ingrediets">
          <app-ingredient [list]="ingredientsList" [name]="ingredient" style="width: 100%;"></app-ingredient>
        </div>  
        <h2>Instructions</h2>
        <p>{{instructions}}</p>
      </div>
    </div>
  </div>
  <button type="button" 
          class="btn  mx-auto my-3" 
          style="width: 30%; background-color: rgb(33, 32, 32); color: rgb(252, 252, 252); font-size: large;"
          (click)="nextCoctel()">
            Next
  </button>
</div>

